nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a0027;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  overflow: hidden;
  position:fixed;
  top:0;
}

#logo{
  font-family: 'Bungee', cursive;
  font-size: xx-large;
}
#arrow-icon {
  color: #8797ca;
  display: flex;
  justify-content: center;
}